// main.sass - the stylesheet of the demo partaaaaaaay

@import reset

body
  background-color: black
  font-family: arial,sans-serif
  font-size: 10px
  color: white

  .hidden
    display: none

  #marquee-counter
    position: absolute
    top: 0
    right: 0
    padding: 10px
    width: 200px
    color: red
    font-size: 250%
    text-align: right

  footer
    position: absolute
    bottom: 50px
    height: 150px
    width: 1920px
    background-color: red
    z-index: 99999

  .scroller-letter
    float: left
    width: 15px
    height: 150px    

  #disclaimer
    position: absolute
    bottom: 50px

    marquee
      font-size: 500%