html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
marquee {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
marquee {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  background-color: black;
  font-family: arial, sans-serif;
  font-size: 10px;
  color: white; }

#marquee-counter {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 200px;
  color: green;
  font-size: 250%;
  text-align: right;
  z-index: 9999999; }

#marquee-counter.sush {
  visibility: hidden; }

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  main .hidden {
    display: none; }
  main #starter marquee {
    margin-top: calc((100vh / 2) - 50px);
    height: 50px;
    font-size: 350%; }
  main #disclaimer {
    position: absolute;
    bottom: 50px; }
    main #disclaimer marquee {
      font-size: 500%; }
  main #title {
    height: 100%; }
    main #title #titleH {
      height: 100%;
      width: 100%; }
    main #title #titleV {
      height: 100%; }
      main #title #titleV div {
        font-size: 2500%;
        text-align: center; }
  main #greets {
    height: 100%; }
    main #greets .marquee-container {
      position: absolute;
      width: 100%;
      overflow: visible;
      left: 0; }
      main #greets .marquee-container marquee {
        height: 250px;
        color: rgba(255, 255, 255, 0.5); }
  main footer {
    position: absolute;
    bottom: 50px;
    height: 150px;
    width: 1920px;
    background-color: red;
    z-index: 99999; }
  main .scroller-letter {
    float: left;
    width: 65px;
    height: 150px;
    font-size: 750%;
    text-align: center; }
  main #disclaimer {
    position: absolute;
    bottom: 50px; }
    main #disclaimer marquee {
      font-size: 500%; }
  main #snake {
    width: 100%;
    height: 100%;
    margin: auto; }
    main #snake .snake-layer {
      width: 80%;
      height: 80%;
      margin: auto;
      position: absolute;
      top: 10%;
      left: 10%; }
      main #snake .snake-layer .snake-horiz {
        height: 100%;
        width: 100%; }
        main #snake .snake-layer .snake-horiz .snake-vert {
          height: 100%; }
          main #snake .snake-layer .snake-horiz .snake-vert .snake-elem {
            background-color: black;
            width: 100px;
            height: 100px;
            border-radius: 60px;
            background: radial-gradient(red, yellow, green); }
  main #starfield {
    width: 100%;
    height: 100%; }
    main #starfield #universe {
      position: relative;
      width: 1920px;
      height: 1080px;
      background-color: black; }
    main #starfield #overlay {
      position: absolute;
      width: 1920px;
      height: 1080px; }
    main #starfield #kepler {
      position: absolute;
      z-index: 999;
      top: 510px;
      left: 930px;
      height: 60px;
      width: 60px;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0px 0px 40px black;
      border-radius: 100px; }
    main #starfield .quarter {
      position: absolute;
      width: 960px;
      height: 540px; }
    main #starfield .wraptl {
      top: 0;
      left: 0; }
    main #starfield .wraptr {
      top: 0;
      right: 0; }
    main #starfield .wrapbl {
      bottom: 0;
      left: 0; }
    main #starfield .wrapbr {
      bottom: 0;
      right: 0; }
    main #starfield .horiz {
      width: 960px; }
    main #starfield .verti {
      height: 540px; }
    main #starfield .star {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 8px white;
      border-radius: 100px; }
  main #check .container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    main #check .container .checker-horiz .checker-vert {
      height: 2000px; }
      main #check .container .checker-horiz .checker-vert .checkers table tr:nth-child(2n) td:nth-child(2n),
      main #check .container .checker-horiz .checker-vert .checkers table tr:nth-child(2n+1) td:nth-child(2n+1) {
        background-color: white;
        opacity: 0.75; }
      main #check .container .checker-horiz .checker-vert .checkers.xl td {
        width: 200px;
        height: 200px; }
      main #check .container .checker-horiz .checker-vert .checkers.l td {
        width: calc(200px * 15/21);
        height: calc(200px * 15/21); }
      main #check .container .checker-horiz .checker-vert .checkers.m td {
        width: calc(200px * 15/21 * 15/21);
        height: calc(200px * 15/21 * 15/21); }
  main #moire {
    width: 100%;
    height: 100%; }
    main #moire .fix {
      mix-blend-mode: exclusion; }
    main #moire .moire-horiz {
      width: 1920px; }
    main #moire .moire-vert {
      height: 1080px;
      width: 2100px;
      position: relative; }
    main #moire .move {
      width: 2100px;
      height: 1200px;
      position: relative; }
    main #moire .moiree-line {
      border-style: solid;
      border-width: 5px;
      border-color: white;
      position: absolute; }
